<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body>

    <div class="container">
<!--        <nav class="navbar navbar-light bg-light justify-content-between">-->
<!--            <a class="navbar-brand">Navbar</a>-->
<!--            <form class="form-inline">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
<!--        </nav>-->
            <!-- alternativa-->
            <span>usuari logat: [[${#request.remoteUser}]]</span> <span if="${request.remoteUser}" sec:authentication="name"></span>
            <div sec:authorize="isAuthenticated()">
                Hello, authenticated as <span sec:authentication="name"></span>
                <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                    <input type="submit" value="Logout" />
                </form>
                <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                No Authenticated </br>
                <a href="/login">Login</a><br/>
                <a href="/registre">Registro</a>
            </div>


            <h1>Home</h1>
            <a href="/web/family/new">Add family</a> <br/>
            <a href="/web/family/list">List family</a><br/><br/>

        <a href="/web/subfamily/new">Add subfamily</a> <br/>
        <a href="/web/subfamily/list">List subfamily</a><br/><br/>

        <a href="/web/drug/new">Add drug</a> <br/>
        <a href="/web/drug/">List drug</a><br/><br/>

        <a href="/web/exchange/new">Add exchange</a> <br/>
        <a href="/web/exchange/">List exchange</a><br/><br/>
    </div>
</body>
</html>
