<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Family List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body class="container">
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>

</div>

<div sec:authorize="!isAuthenticated()">
    No Authenticated </br>
    <a href="/login" class="btn btn-outline-primary mt-1">Login</a>&nbsp;&nbsp;&nbsp;
    <a href="/registre" class="btn btn-outline-primary mt-1">Registre</a>
</div></br>
<div class="row">
    <div class="col-12">
        <a href="/" class="btn btn-primary">Ir a la página principal</a>&nbsp;&nbsp;&nbsp;
        <a href="/web/family/list/orderbyname" class="btn btn-primary" >Ordenar por nombre</a>&nbsp;&nbsp;&nbsp;
        <a href="/web/family/new/" class="btn btn-primary" >Crear</a>
    </div>
</div>

<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
<!--        <th scope="col">Date Created</th>-->

        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="family : ${familyList}">
        <td th:text="${family.id}" scope="row"></td>
        <td th:text="${family.name}"></td>
<!--        <td th:text="${family.getLocalDateTime()}">123456789</td>-->


        <td><a th:href="@{/web/family/edit/{id}(id=${family.id})}" class="btn btn-warning">Edit</a> </td>
        <td><a th:href="@{/web/family/delete/{id}(id=${family.id})}" class="btn btn-danger">Delete</a> </td>
    </tr>
    </tbody>
</table>


    <div class="form-row mb-4 ">
        <form method="get"
            action="#"
            th:action="@{/web/family/list/findbyname}">
            <input type="text" id="name" placeholder="find by name" class="form-control">
            <div class="form-group text-center" >
                <button class="btn btn-primary btn-lg btn-block" type="submit">Find</button>
            </div>
        </form>
    </div>
</body>
</html>