<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Drug List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body class="container">
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>

</div>

<div sec:authorize="!isAuthenticated()">
    No Authenticated </br>
    <a href="/login" class="btn btn-outline-primary mt-1">Login</a>&nbsp;&nbsp;&nbsp;
    <a href="/registre" class="btn btn-outline-primary mt-1">Registre</a>
</div></br>
<div class="row">
    <div class="col-12">
        <a href="/web/drug/orderbyname" class="btn btn-primary">Order by name</a> &nbsp;&nbsp;&nbsp;
        <a href="/" class="btn btn-primary">Go to Home</a>
    </div>
</div>

<div class="mt-5 text-center"><h3>Fármacos</h3></div>
<table class="table">
    <thead>
    <tr class="text-center">
        <th scope="col" class="d-none">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dose</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drug : ${drugs}" class="text-center">
        <td th:text="${drug.id}" scope="row" class="d-none"></td>
        <td th:text="${drug.name}"></td>
        <td th:text="${drug.getDose()}"></td>
        <td><a th:href="@{/web/drug/edit/{id}(id=${drug.id})}" class="btn btn-warning">Edit</a> </td>
        <td><a th:href="@{/web/drug/delete/{id}(id=${drug.id})}" class="btn btn-danger">Delete</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>