<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Exchange List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body class="container">
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>

</div>

<div sec:authorize="!isAuthenticated()">
    No Authenticated </br>
    <a href="/login" class="btn btn-outline-primary mt-1">Login</a>&nbsp;&nbsp;&nbsp;
    <a href="/registre" class="btn btn-outline-primary mt-1">Registro</a>
</div></br>
<div class="row">
    <div class="col-12">
        <a href="/" class="btn btn-primary">Ir a la página principal</a>&nbsp;&nbsp;&nbsp;
        <a href="/web/exchange/new" class="btn btn-primary">Añadir intercambio</a>
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-4">
        <form method="post"
              action="#"
              th:action="@{/web/exchange/findbycurrentname}">
            <input  th:value="*{namecurrent}"
                    type="text"
                    name="namecurrent"
                    id="namecurrent"
                    placeholder="find by current name"
                    class="form-control">
            <div class="form-group text-center" >
                <button class="btn btn-primary btn-block" type="submit">Find by current</button>
            </div>
        </form>
    </div>

    <div class="col-4">
        <form method="post"
              action="#"
              th:action="@{/web/exchange/findbyalternativename}">

            <input  th:value="*{namealternative}"
                    type="text"
                    name="namealternative"
                    id="namealternative"
                    placeholder="find by alternative name"
                    class="form-control">
            <div class="form-group text-center" >
                <button class="btn btn-primary btn-block" type="submit">Find by alternative</button>
            </div>
        </form>
    </div>

    <div class="col-4">
        <form method="post"
              action="#"
              th:action="@{/web/exchange/findbysubfamilyname}">

            <input  th:value="*{namesubfamily}"
                    type="text"
                    name="namesubfamily"
                    id="namesubfamily"
                    placeholder="find by subfamily name"
                    class="form-control">
            <div class="form-group text-center" >
                <button class="btn btn-primary btn-block" type="submit">Find by subfamily</button>
            </div>
        </form>
    </div>

</div>

<div class="mt-3 mb-4 text-center"><h3>Intercambios terapéuticos</h3></div>
<table class="table">
    <thead>
    <tr class="text-center border border-dark">
<!--        <th scope="col" class="d-none">#</th>-->
        <th scope="col" style="background: #20639B">Fora guia</th> <!--Current-->
        <th scope="col" style="background: #20639B">Dosis</th>
        <th scope="col" style="background: #3CAEA3;">Substituir per</th><!--Alternative-->
        <th scope="col" style="background: #3CAEA3;" >Dosis</th>
        <th scope="col" style="background: #F6D55C">Subfamilia</th>

<!--        <th scope="col">Edit</th>-->
<!--        <th scope="col">Delete</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="exchange : ${exchanges}" class="text-center border border-dark">
<!--        <td th:text="${exchange.id}" scope="row" class="d-none"></td>-->
        <td th:text="${exchange.getCurrentDrug().getName()}"></td>
        <td th:text="${exchange.getCurrentDrug().getDose()}"></td>
        <td th:text="${exchange.getAlternativeDrug().getName()}"></td>
        <td th:text="${exchange.getAlternativeDrug().getDose()}"></td>
        <td th:text="${exchange.getSubfamily().getName()}"></td>



<!--        <td><a th:href="@{/web/exchange/edit/{id}(id=${exchange.id})}" class="btn btn-warning">Edit</a> </td>-->
<!--        <td><a th:href="@{/web/exchange/delete/{id}(id=${exchange.id})}" class="btn btn-danger">Delete</a> </td>-->
    </tr>
    </tbody>
</table>



</body>
</html>