<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Drug List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body class="container">
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>

</div>

<div sec:authorize="!isAuthenticated()">
    No Authenticated </br>
    <a href="/login">Login</a><br/>
    <a href="/registre">Registre</a>
</div>
<div class="row">
    <div class="col-12">
        <a href="/web/drug/orderbyname">Order by name</a>
    </div>
    <div class="col-12">
        <a href="/">Go to Home</a>
    </div>
</div>

<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dose</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drug : ${drugs}">
        <td th:text="${drug.id}" scope="row"></td>
        <td th:text="${drug.name}"></td>
        <td th:text="${drug.getDose()}"></td>
        <td><a th:href="@{/web/drug/edit/{id}(id=${drug.id})}">Edit</a> </td>
        <td><a th:href="@{/web/drug/delete/{id}(id=${drug.id})}">Delete</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>