<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Subfamily List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossOrigin="anonymous">
</head>
<body class="container">
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" value="Logout" />
    </form>
    <a class="btn btn-primary" href="javascript:document.logoutForm.submit()">Logout</a>

</div>

<div sec:authorize="!isAuthenticated()">
    No Authenticated </br>
    <a href="/login" class="btn btn-outline-primary mt-1">Login</a>&nbsp;&nbsp;&nbsp;
    <a href="/registre" class="btn btn-outline-primary mt-1">Registro</a>
</div></br>
<div class="row">
    <div class="col-12">
        <a href="/" class="btn btn-primary">Ir a la página principal</a>&nbsp;&nbsp;&nbsp;
        <a href="/web/subfamily/list/orderbyname" class="btn btn-primary" >Ordenar por nombre</a>&nbsp;&nbsp;&nbsp;
        <a href="/web/subfamily/new/" class="btn btn-primary" >Crear</a>
    </div>
</div>

<div class="mt-5 mb-4 text-center"><h3>Subfamilias de patologías</h3></div>
<table class="table">
    <thead>
    <tr class="text-center">
        <th scope="col" class="d-none">#</th>
        <th scope="col">Name</th>
        <th scope="col">Family name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${subfamilyList.size() == 0}" style="color: red">
        No se encontraron resultados
    </div>
    <tr th:each="subfamily : ${subfamilyList}" class="text-center">
        <td th:text="${subfamily.id}" scope="row" class="d-none">ID</td>
        <td th:text="${subfamily.name}" class="text-left"></td>
        <td th:text="${subfamily.getFamily().getName()}"></td>
        <td><a th:href="@{/web/subfamily/edit/{id}(id=${subfamily.id})}" class="btn btn-warning">Edit</a> </td>
        <td><a th:href="@{/web/subfamily/delete/{id}(id=${subfamily.id})}" class="btn btn-danger">Delete</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>